.card {
    text-align:center;
    width: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 50px;
    padding: 50px;
}
img {
    width: 100px;
    height: 100px;
}
h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    padding: 15px;
}
h2 {
    font-size:18px;
    font-weight: 300;
    color: #aaa;
    line-height:16px;
    padding:5px;
}
hr {
    width: 200px;
    margin: 30px 0;
    border: 1px solid #ddd;
}
p {
    font-weight: 500;
    line-height: 28px;
}

ul li {
    font-weight: 500;
    line-height: 28px;
    border: 1px solid #eee;
    padding:5px;
    /* 列表样式 */
    list-style: none;
}
a {
    color: #aaa;
    /* 下换线样式 */
    text-decoration: none;
}

/* 补充a标签的样式说明 */
a:hover {
    /* text-decoration-color: blue;
    text-decoration-line: underline; */
    color: blue;
    text-decoration: underline;
}
a:visited {
    color: red;
    text-decoration: underline;
}