.blue {
    border-radius: 50%;
    background-color: blue;
    text-align: center;
    color: #fff;
    line-height: 300px;
    width: 300px;
    height: 300px;
}
.text {
    display: inline-block;
    width: 0;
    height: 0;
    border: 150px solid #000;
    border-left-color: mediumseagreen;
    border-right-color: cornflowerblue;
    border-top-color: cyan;
    border-bottom-color: yellow;
    text-align: center;
    color: #fff;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 50px solid red;
    text-align: center;
    line-height: 200px;
}