div {
    height: 40px;
}
ol {
    height: 100%;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
}
li {
    height: 40px;
    width: 80px;
    float: left;
    list-style: none;
    color: blue;
    line-height:40px;
    text-align: center;
}
ol > li:first-child {
    border: 1px solid #ddd;
    border-bottom: 1px solid transparent;
    color: gray;
    border-radius: 4px;
    position: relative;
}

ol > li:first-child::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: #fff;
    width: 100%;
}